---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/kemiao.jpg'
import config from '@/site-config'

const languages = [
  // 'Python',
  // 'C',
  // 'C++',
  // 'C#',
  'Java',
  'Html',
  'JavaScript',
  'CSS'
  // 'R',
  // 'SQL',
  // 'Go',
  // 'Prolog',
  // 'Php',
  // 'Lua',
  // 'Matlab',
  // 'Rust',
  // 'ShellScript'
]
const frontend = [
  'TypeScript',
  'React',
  'NextJS',
  // 'Svelte',
  'Vue3',
  'Vue2',
  'nuxt',
  // 'Redux',
  // 'Vuex',
  // 'Redux',
  'Vue',
  // 'Pinia',
  'Vite',
  'Webpack',
  'Astro',
  'Hexo',
  'Hugo'
]
const backend = ['NextJS']
const others = ['Android', 'Unity', 'Web']

const websiteList = [
  {
    href: 'https://status.kemeow.cn/',
    heading: 'Website status',
    subheading: 'Record status of Ke Miao websites',
    imagePath: '/src/assets/projects/status.png'
  },
  {
    href: 'https://myblog.kemeow.top/',
    heading: 'Github issues blog',
    subheading: 'main blog',
    imagePath: '/src/assets/projects/github-issues-blog.png'
  },
  {
    href: 'https://music.kemiao.online/',
    heading: '克喵の音乐馆',
    subheading: 'A music page for netease',
    imagePath: '/src/assets/projects/music-page.png'
  },
  {
    href: 'https://img.kemiaosw.top/',
    heading: '图床',
    subheading: 'cloudflare image worker',
    imagePath: '/src/assets/projects/img-page.png'
  },
  {
    href: 'https://shuoshuo.kemiao.online/',
    heading: '说说',
    subheading: 'A personal shuoshuo by telegram',
    imagePath: '/src/assets/projects/tg-shuoshuo.png'
  }
]

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='Github' as='a' href='https://github.com/Kemeow815' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='关于'>
        <p class='text-muted-foreground'>站长 / 克喵</p>
        <p class='text-muted-foreground'>
          一个普通的在南京就读的双非学校的大二学生，致力于分享资源和生活点滴。
          分享的资源和文章均来自互联网，如有侵权，请联系我删除。
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='文章'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }
      <Section title='学校'>
        <Card
          as='a'
          heading='南京工业职业技术大学'
          subheading='普通大二学生'
          date='September 2023 - June 2027'
          href='https://www.niit.edu.cn/'
        />
      </Section>

      <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          {
            websiteList.map((site) => (
              <ProjectCard
                href={site.href}
                heading={site.heading}
                subheading={site.subheading}
                imagePath={site.imagePath}
              />
            ))
          }
        </div>
      </Section>

      <!-- <Section title='Certifications'>
        <Card
          as='a'
          heading='Mathematical Modeling Competition'
          subheading='Won the first prize of the national award in the National Mathematical Modeling Competition of "Higher Education Society"'
          date='October 2023'
          href='http://www.mcm.edu.cn'
        />
      </Section> -->

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
        <SkillLayout title='Others' skills={others} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
